<header class="site-header" role="banner">
  <a class="site-title" href="/">The Picture House Project.</a>
</header>

<section class="section section--hero" style="margin-top: 0;">
  <div class="hero-image"></div>
  <h2 class="home-hero-title">{{site.description | markdownify}}</h2>
  <h3 class="coming-soon">More information coming late September 2017</h3>
  <div class="hero-logos">
    <img class="backers-logos" src="assets/images/logos.svg#white" alt="The redevelopment of the Hyde Park Picture House is a Heritage Lottery Fund project supported by Leeds City Council">
  </div>
</div>

</section>