{% capture img_output %}
{% if site.local != true %}
{% if include.pathonly != 'true' %}
<img alt="{{  include.alt }}" src="
{% endif %}
http://res.cloudinary.com/{{ site.cloudinary }}/image/fetch/w_{{ include.width | default: "500"}},h_{{ include.height | default: "500"}}{{ include.quality | prepend: ",q_"}}{{ include.modes| default: "c_fill" | prepend: "," }}/{{ site.url }}{{ site.baseurl }}{{ include.img }}
{% if include.pathonly != 'true' %}"
 srcset="http://res.cloudinary.com/{{ site.cloudinary }}/image/fetch/w_100,e_colorize:100,q_1/{{ site.url }}{{ site.baseurl }}{{ include.img }} {{ include.width | default: "500"}}w"
 width="{{ include.width | default: 500 }}"
 height="{{ include.height | default: 500}}"
 data-srcset="{% for breakpoint in site.breakpoints %} http://res.cloudinary.com/{{ site.cloudinary }}/image/fetch/w_{{ breakpoint }}{{ include.quality | prepend: ",q_"}}{{ include.modes| default: "c_fill" | prepend: "," }}/{{ site.url }}{{ site.baseurl }}{{ include.img }} {{ breakpoint }}w{% if forloop.last == false %}, {% endif %}{% endfor %}"
 sizes="{{ include.sizes | default: "100vw" }}"
 class="{{include.class}} lazyload"
/>{% endif %}
{% else %}
{% if include.pathonly != 'true' %}<img alt="{{  include.alt }}" class="lazyload {{ include.class }}" src="{% endif %}{{ site.baseurl }}{{  include.img }}{% if include.pathonly != 'true' %} "/>{% endif %}
{% endif %}
{% endcapture %}{{ img_output | strip_newlines }}

<!--    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=    -->