<footer class="site-footer">

<div class="footer-text">
  <address class="footer-address">
    The Hyde Park Picture House<br>
    73 Brudenell Road<br>
    Leeds<br>
    LS6 1JD<br>
    <br>
    0113 275 2045<br>
    <a href="mailto:info@thepicturehouseproject.co.uk">info@thepicturehouseproject.co.uk</a>
  </address>

  <p>Photographs by <a href="http://thomasdavidmorris.tumblr.com/">Thomas Morris</a> using a Pentax 6x7 medium-format camera with 105mm 2.4 lens on Kodak film.</p>

</div>

<div class="footer-image">
  <p>A Hyde Park Picture House project with the Heritage Lottery Fund</p>
  <img class="footer-backers-logos" src="assets/images/logos.svg#white" alt="The redevelopment of the Hyde Park Picture House is a Heritage Lottery Fund project supported by Leeds City Council">
</div>

</footer>
