<header class="site-header">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: '  ' %}
  <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

  {% if page.layout == 'home' %}
    <nav class="site-nav">
      <a class="menu-icon" href="#">menu</a>
      <div class="trigger">
        <a class="page-link" href="#intro">Intro</a>
        <a class="page-link" href="#timeline">Timeline</a>
        <a class="page-link" href="#gallery">See inside</a>
        <a class="page-link" href="#updates">Updates</a>
        <a class="page-link" href="#aims">Aims</a>
        <a class="page-link" href="#explore">Model</a>
        <a class="page-link" href="#history">History</a>
        <a class="page-link" href="#signup">Signup</a>
      </div>
    </nav>
  {% endif %}

</header>