---
---

@charset "utf-8";

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "page";

@import "home/navigation";
@import "home/hero";
@import "home/intro";
@import "home/explore";
@import "home/timeline";
@import "home/aims";
@import "home/updates";
@import "home/history";
@import "home/tweets";
@import "home/signup";
@import "home/gallery";

@import "aos";

html {
  font-size: 0.75em;

  @media screen and (min-width: $medium-screen) {
    font-size: 0.8125em;
  }

  @media screen and (min-width: $large-screen) {
    font-size: 0.875em;
  }

  @media screen and (min-width: $xl-screen) {
    font-size: 1em;
  }
}

.section--funders {
  margin-top: 2 * $base-spacing;

  .funders {
    image-rendering: auto;
    max-width: $large-screen * 0.9;
    margin-top: $base-spacing;

    &__portrait {
      display: none;
    }

    @media screen and (orientation: portrait) {
      &__landscape {
        display: none;
      }
      &__portrait {
        display: block;
      }
    }
  }
}

.site-footer {
  background-color: $base-font-color;
  color: white;
  margin: 3vw 0;
  padding: 3vw;
  @media screen and (orientation: portrait) {
    padding: 3vh;
  }

  @media screen and (min-width: $xl-screen) {
    padding: 4vw;
    margin: 4vw 0;
  }

  @media screen and (min-width: $medium-screen) {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .footer-text {
    @media screen and (min-width: $medium-screen) {
      -webkit-box-flex: 1;
              flex: 1 1 60%;
      margin-right: $base-spacing;
    }
  }

  .footer-image {
    @media screen and (min-width: $medium-screen) {
      -webkit-box-flex: 1;
              flex: 1 1 40%;
      text-align: right;
    }

    .footer-backers-logos {
      margin: $base-spacing 0;
      display: block;

      @media screen and (min-width: $medium-screen) {
        margin-left: auto;
      }

      max-height: 2 * $base-spacing;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  address {
    font-style: normal;
    margin-bottom: $base-spacing;
  }

  p:last-child {
    margin-bottom: 0;
  }
}