.section--aims {
  &::after,
  &::before {
    content: "";
    width: 1px;
    background-color: $light-gray;
    top: -5 * $base-spacing;
    bottom: -$base-spacing;
    z-index: 99999;
    left: calc(37.5% + 1px);
    position: absolute;
    mix-blend-mode: darken;
  }

  &::after {
    left: auto;
    right: calc(37.5% + 1px);
    top: 8 * $base-spacing;
  }
}

.aims-wrapper {
  &::after,
  &::before {
    content: "";
    width: 1px;
    background-color: $light-gray;
    top: 5 * $base-spacing;
    bottom: -$base-spacing;
    z-index: -9;
    left: -1px;
    position: absolute;
    mix-blend-mode: darken;
  }

  &::after {
    left: auto;
    right: -1px;
  }
}

.aim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @media screen and (min-width: $large-screen) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  position: relative;
  margin: (3 * $base-spacing) 0;
  -webkit-transition: -webkit-transform $base-duration $base-timing;
  transition: -webkit-transform $base-duration $base-timing;
  transition: transform $base-duration $base-timing;
  transition: transform $base-duration $base-timing, -webkit-transform $base-duration $base-timing;

  &.slideout {
    @media screen and (min-width: $large-screen) {
      -webkit-transform: translateX(45%);
      transform: translateX(45%);
      -webkit-transition: -webkit-transform $base-duration $base-timing 0;
      transition: -webkit-transform $base-duration $base-timing 0;
      transition: transform $base-duration $base-timing 0;
      transition: transform $base-duration $base-timing 0, -webkit-transform $base-duration $base-timing 0;
      transition: transform $base-duration $base-timing 0ms, -webkit-transform $base-duration $base-timing 0;
    }

    &:nth-child(2n-1) {
      @media screen and (min-width: $large-screen) {
        -webkit-transform: translateX(-45%);
        transform: translateX(-45%);
      }
    }

    .aim-more {
      max-height: 100vh;
      opacity: 1;
      margin: (3 * $base-spacing) 0;
      @media screen and (min-width: $large-screen) {
        max-height: none;
        margin: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: opacity (2 * $base-duration) $base-timing;
        transition: opacity (2 * $base-duration) $base-timing;
      }
    }
  }

  &:nth-child(2n-1) {
    .aim-text {
      margin-left: 15%;
      @media screen and (min-width: $large-screen) {
        margin-left: 0;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
      }
      text-align: right;
    }
    // .aim-image {
    //   @media screen and (min-width: $large-screen) {
    //     padding-right: 0;
    //     padding-left: $base-spacing;
    //   }
    // }
    .aim-more {
      left: 120%;
      right: auto;
      text-align: right;
      @media screen and (min-width: $large-screen) {
        text-align: left;
      }
    }

    .aim-heading {
      @media screen and (min-width: $large-screen) {
         @supports (mix-blend-mode: difference){
          margin-left: -60%;

          &::after {
            left: 25%;
          }
        }
      }
    }

    .aim-number {
      left: -1.5 * $base-spacing;
      right: auto;
      bottom: 0;

      &::before {
        content: "";
      }

      &::after {
        content: "-";
      }
    }
  }

  .aim-label {
    font-family: $heading-font-family;
    color: $yellow;
    display: inline-block;
    font-size: modular-scale(2);
    letter-spacing: $small-heading-letter-spacing;
    -webkit-font-smoothing: antialiased;
  }

  .aim-image {
    position: relative;
    margin-bottom: $base-spacing;
    @media screen and (min-width: $large-screen) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
      flex: 0 0 55%;
      margin-bottom: 0;
      // padding-right: $base-spacing;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
    }

    img {
      width: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: block;
      background-color: $light-gray;

      &.bw {
        position: absolute;
        -webkit-transition: opacity (10 * $base-duration) $base-timing;
        transition: opacity (10 * $base-duration) $base-timing;
        width: 100%;
        background-color: transparent;
      }
    }
  }

  .aim-text {
    width: 85%;
    @media screen and (min-width: $large-screen) {
      width: auto;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 37.5%;
      flex: 0 0 37.5%;
    }
    position: relative;
    z-index: 98;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .aim-heading {
    font-size: modular-scale(6);
    font-family: $heading-font-family;
    text-transform: uppercase;
    position: relative;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    @media screen and (min-width: $large-screen) {
       @supports (mix-blend-mode: difference){
        width: 160%;
        color: white;

        &::after {
          content: "";
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          height: 100%;
          width: 75%;
          background-color: #fff;
          mix-blend-mode: difference;
        }
      }
    }
  }

  .aim-number {
    font-size: modular-scale(14);
    opacity: 0.85;
    z-index: 99;
    color: $yellow;
    position: absolute;
    right: -1.5 * $base-spacing;
    bottom: -6 * $base-spacing;
    font-family: $heading-font-family;
    margin-bottom: 0;
    line-height: 1;
    // transform: translateZ(.1px) scale(.9)
    // transform-origin: center
    //1 + (translateZ * -1) / perspective = scale.
    &::before {
      content: "-";
    }
  }

  .aim-more {
    text-align: left;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: max-height $base-duration $base-timing, opacity $base-duration $base-timing, margin $base-duration $base-timing;
    transition: max-height $base-duration $base-timing, opacity $base-duration $base-timing, margin $base-duration $base-timing;
    @media screen and (min-width: $large-screen) {
      text-align: right;
      max-height: none;
      position: absolute;
      right: 120%;
      left: auto;
      width: 100%;
      top: 0.75 * $small-spacing;
      padding: 0;
      -webkit-transform: translateX(2 * $base-spacing);
      transform: translateX(2 * $base-spacing);
      -webkit-transition: opacity $base-duration $base-timing 0;
      transition: opacity $base-duration $base-timing 0;
    }
    @media screen and (min-width: $xl-screen) {}

    p {
      overflow: hidden;
      margin-bottom: $base-spacing;
    }
  }

  .button {
    margin-top: $small-spacing;
  }
}