.section--hero {
  min-height: auto;
  padding: 0;
  height: 100%;
  height: calc(100vh - 8vw);
  margin-top: 3vw;
  @media screen and (orientation: portrait) {
    margin-top: 3vh;
    height: 91vh;
  }
  @media screen and (min-width: $xl-screen) {
    margin-top: 4vw;
    height: calc(100vh - 9vw);
  }
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

body.loading {
  height: 100%;
  overflow: hidden;

  .hero-slide {
    opacity: 0;
    transition: opacity 0 0ms, transform 0 0;
    animation: none;
  }

  .hero-image, .hero-video {
    opacity: 0;
    transition: opacity 0 0;
  }

  .home-hero-strapline {
    opacity: 0;
    transition: opacity 0 0;
    animation: none;
  }

  .site-header {
    opacity: 0;
    transition: opacity 0 0ms, transform 0 0;
  }
}

.hero-slide {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;

  z-index: 999;
  bottom: 40%;
  font-size: modular-scale(1);
  p {
    margin-bottom: 0;
    float: left;
    clear: both;
    position: relative;
  }
  &--1,&--2,&--3{
    animation-name: inout;
    animation-timing-function: cubic-bezier(.27,.09,.4,.88);
    animation-duration: 4s;
    &::after,
    &::before {
      content: '';
      width: 1px;
      background-color: $light-gray;
      display: block;
      position: absolute;
      left: 0;
      top: -200vh;
      bottom: -200vh;
    }
    &::after {
      right: 0;
      left: auto;
    }

    p {
      &::after, &::before {
        content: '';
        width: 1px;
        background-color: $light-gray;
        display: block;
        position: absolute;
        left: 0;
        top: -200vh;
        bottom: -200vh;
      }
      &::after {
        right: 0;
        left: auto;
      }
    }
    p:last-child {
      font-size: modular-scale(3);
    }
  }
  &--1 {
    animation-delay: 1s;
    left: 0;

  }
  &--2 {
    animation-delay: 5s;
    right: 0;
    p {
      float: right;
    }
  }
  &--3 {
    animation-delay: 9s;
    left: 0;
  }
  &--4 {
    font-size: modular-scale(5);
    animation-delay: 13s;
    right: $base-spacing;
    animation-name: justin;
    animation-timing-function: cubic-bezier(.27,.09,.4,.88);
    animation-duration: 4s;
    animation-fill-mode: forwards;
    p {
      float: right;
      color: white;
    }
  }
}

.hero-image,
.hero-image-fallback,
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-image, .hero-video {
  display: none;

  &.hero-image-holding {
    display: block !important;
  }
}

.hero-image-fallback {
  background-image: url("./images/40-BW.jpg");
  background-size: cover;
  background-position: center;
}
@supports (object-fit: cover) {
  .hero-video, .hero-image {
    display: block;
  }

  .hero-image-fallback {
    display: none;
    background-image: none;
  }
}

.hero-image, .hero-video {
  object-fit: cover;
  object-position: center;
  transition: opacity 5s $base-timing 13s;
}



.hero-logos {
  position: absolute;
  bottom: $small-spacing;
  right: $base-spacing;
}


@keyframes inout {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  65% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes justin {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  65% {
    opacity: 1;
    transform: translateY(0);
  }
  75%, 100% {
    opacity: 1;
  }
}