.section--hero {
  min-height: auto;
  padding: 0;
  height: 100%;
  height: calc(100vh - 8vw);
  margin-top: 3vw;
  @media screen and (orientation: portrait) {
    margin-top: 3vh;
    height: 91vh;
  }
  @media screen and (min-width: $xl-screen) {
    margin-top: 4vw;
    height: calc(100vh - 9vw);
  }
  margin-bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

body.loading {
  height: 100%;
  overflow: hidden;

  .hero-slide {
    opacity: 0;
    transition: opacity 0 0ms, -webkit-transform 0 0;
    transition: opacity 0 0ms, transform 0 0;
    transition: opacity 0 0ms, transform 0 0, -webkit-transform 0 0;
    -webkit-animation: none;
            animation: none;
  }

  .hero-image, .hero-video {
    opacity: 0;
    transition: opacity 0 0;
  }

  .home-hero-strapline {
    opacity: 0;
    transition: opacity 0 0;
    -webkit-animation: none;
            animation: none;
  }

  .site-header {
    opacity: 0;
    transition: opacity 0 0ms, -webkit-transform 0 0;
    transition: opacity 0 0ms, transform 0 0;
    transition: opacity 0 0ms, transform 0 0, -webkit-transform 0 0;
  }
}

.hero-slide {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  top: 3 * $base-spacing;
  font-size: modular-scale(1);
  p {
    margin-bottom: 0;
    float: left;
    clear: both;
    position: relative;
  }
  &--1,&--2,&--3{
    -webkit-animation-name: inout;
            animation-name: inout;
    -webkit-animation-timing-function: cubic-bezier(.27,.09,.4,.88);
            animation-timing-function: cubic-bezier(.27,.09,.4,.88);
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    &::after,
    &::before {
      content: '';
      width: 1px;
      background-color: $light-gray;
      display: block;
      position: absolute;
      left: 0;
      top: -50vh;
      bottom: -50vh;
      -webkit-animation-name: textlines;
              animation-name: textlines;
      -webkit-animation-timing-function: cubic-bezier(.27,.09,.4,.88);
              animation-timing-function: cubic-bezier(.27,.09,.4,.88);
      -webkit-animation-duration: 4s;
              animation-duration: 4s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;

    }
    &::after {
      right: 0;
      left: auto;
    }


    p {
      &::after, &::before {
        width: 1px;
        background-color: $light-gray;
        display: block;
        position: absolute;
        left: 0;
        top: -50vh;
        bottom: -50vh;
        -webkit-animation-name: textlines;
                animation-name: textlines;
        -webkit-animation-timing-function: cubic-bezier(.27,.09,.4,.88);
                animation-timing-function: cubic-bezier(.27,.09,.4,.88);
        -webkit-animation-duration: 4s;
                animation-duration: 4s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
      }
      &::after {
        right: 0;
        content: '';
        left: auto;
      }
    }
    p:last-child {
      font-size: modular-scale(2);
    }
  }
  &--1 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    left: 0;
    top: auto;
    bottom: 2 * $base-spacing;
    &::after {
      -webkit-animation-delay: .5s;
              animation-delay: .5s;
    }
    &::before {
      -webkit-animation-delay: 1.75s;
              animation-delay: 1.75s;
    }
    p::after {
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
    }


  }
  // &--2 {
  //   -webkit-animation-delay: 5s;
  //           animation-delay: 5s;
  //   right: 0;
  //   p {
  //     float: right;
  //   }
  //   &::after {
  //     -webkit-animation-delay: 5.5s;
  //             animation-delay: 5.5s;
  //   }
  //   &::before {
  //     -webkit-animation-delay: 4.5s;
  //             animation-delay: 4.5s;
  //   }
  //   p::after {
  //     content: none;
  //   }
  //   p::before {
  //     content: '';
  //     -webkit-animation-delay: 5s;
  //             animation-delay: 5s;
  //   }
  //
  // }
  &--3 {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    left: auto;
    right: $base-spacing;
    p {
      float: right;
      text-align: right;
    }

    &::after {
      -webkit-animation-delay: 4.5s;
              animation-delay: 4.5s;
    }
    &::before {
      -webkit-animation-delay: 4s;
              animation-delay: 4s;
    }
    p::before {
      content: '';
      -webkit-animation-delay: 3.5s;
              animation-delay: 3.5s;
    }
  }
  &--4 {
    @media screen and (min-width: $medium-screen) {
      font-size: modular-scale(1);
    }
    // -webkit-animation-delay: 14s;
    //         animation-delay: 14s;
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    right: $base-spacing;
    -webkit-animation-name: justin;
            animation-name: justin;
    -webkit-animation-timing-function: cubic-bezier(.27,.09,.4,.88);
            animation-timing-function: cubic-bezier(.27,.09,.4,.88);
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    p {
      float: right;
      text-align: right;
      animation: color-change 1s 9s linear forwards;
      line-height: $heading-line-height;
      &::after, &::before {
        width: 1px;
        background-color: $light-gray;
        display: block;
        opacity: .15;
        position: absolute;
        content: '';
        right: 0;
        top: -50vh;
        bottom: -50vh;
        -webkit-animation-name: textlines;
                animation-name: textlines;
        -webkit-animation-timing-function: cubic-bezier(.27,.09,.4,.88);
                animation-timing-function: cubic-bezier(.27,.09,.4,.88);
        -webkit-animation-duration: 5s;
                animation-duration: 5s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
      }
      &::after {
        left: 0;
        content: '';
        right: auto;
      }
    }
    p:last-child {
      font-size: modular-scale(3);
    }

    &::after,
    p::after {
      -webkit-animation-delay: 10s;
              animation-delay: 10s;
    }
    &::before,
    p::before {
      -webkit-animation-delay: 9.5s;
              animation-delay: 9.5s;
    }
  }
}

.hero-image,
.hero-image-fallback,
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light-gray;
}

.hero-video {
  display: none;

  &.hero-image-holding {
    display: block !important;
  }
}

.hero-image {
  // background-image: url("./images/HPPH_sketch.jpg");
  // filter: grayscale(.65);
  background-size: cover;
  background-position: 50% 50%;
}
// @supports ((-o-object-fit: cover) or (object-fit: cover)) {
//   .hero-video, .hero-image {
//     display: block;
//   }
//
//   .hero-image-fallback {
//     display: none;
//     background-image: none;
//   }
// }

.hero-image, .hero-video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
    transition: opacity 4s 8s ease-out;
}



.hero-logos {
  position: absolute;
  bottom: $small-spacing;
  right: $base-spacing;
}


@-webkit-keyframes inout {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  65% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes inout {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  65% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@-webkit-keyframes justin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  65% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75%, 100% {
    opacity: 1;
  }
}


@keyframes justin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  65% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75%, 100% {
    opacity: 1;
  }
}


@-webkit-keyframes textlines {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  65% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}


@keyframes textlines {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  65% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes plines {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  65% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes plines {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  65% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes color-change {
  100% {
    color: white;
  }
}