.section--hero
  min-height: auto
  padding-top: 0
  height: calc(100vh - 8vmax)
  @media screen and (min-width: $xl-screen)
    height: calc(100vh - 9vmax)
  margin-bottom: 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: relative
  overflow: hidden


body.loading
  height: 100%
  overflow: hidden
  .home-hero-title p
    opacity: 0
    transition: opacity 0ms 0ms
  .hero-image
    opacity: 0
    filter: blur(8px)
    transition: opacity 0ms 0ms, filter 0ms 0ms
  .home-hero-strapline
    opacity: 0
    transition: opacity 0ms 0ms
  .site-header
    opacity: 0
    transition: opacity 0ms 0ms, transform 0ms 0ms


.home-hero-title
  font-family: $heading-font-family
  font-size: 7vw
  text-transform: uppercase
  @media screen and (min-width: $medium-screen)
    font-size: modular-scale(6)
  line-height: $base-line-height
  color: #000
  margin-top: 4 * $base-spacing
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  max-width: 95%
  position: relative
  z-index: 999
  p
    background-color: #fff
    background-color: rgba(255,255,255,.85)
    display: inline-block
    padding: 0 $small-spacing
    margin: $small-spacing auto 0
    transition: opacity 5 * $base-duration 5 * $base-duration
    &:last-child
      transition-delay: 10 * $base-duration


.hero-image, .hero-image-fallback
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.hero-image
  display: none

.hero-image-fallback
  background-image: url('./images/40-BW.jpg')
  background-size: cover
  background-position: center

@supports (object-fit: cover)
  .hero-image
    display: block
  .hero-image-fallback
    display: none
    background-image: none

.hero-image
  object-fit: cover
  object-position: center
  // transition: opacity 30 * $base-duration ease-out 20 * $base-duration
  // filter: blur(0)
  animation: findFocus 8s ease-out forwards

@keyframes findFocus
  0%, 50%
    filter: blur(8px)
    opacity: 0
  75%
    filter: blur(20px)
    opacity: .5
  100%
    filter: blur(0px)
    opacity: 1



.hero-image
  &.grain::after
    content: ''
    width: 110%
    height: 110%
    position: absolute
    top: -5%
    left: -5%
    opacity: 0.05
    background: url('./images/grain.jpg') repeat center center
    animation: grain 1s steps(1) infinite
  &.flicker::before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: $dark-gray
    z-index: 999
    animation: flickr 41ms infinite
    opacity: 0.02


.home-hero-strapline
  margin-top: $small-spacing
  font-family: $base-font-family
  color: #fff
  font-weight: 400
  text-shadow: rgba(0,0,0,.5) 0 0 0.75em
  position: relative
  z-index: 999
  line-height: $base-line-height
  @media screen and (min-width: $medium-screen)
    br
      display: none
  transition: opacity 10 * $base-duration 40 * $base-duration

.hero-logos
  position: absolute
  bottom: $small-spacing
  right: $base-spacing


@keyframes flickr
  0%,
  50%
    opacity: 0

@keyframes grain
  0%,
  100%
    transform: translate(0, 0, 0)
  10%
    transform: translate(-1%, -1%)
  20%
    transform: translate(1%, 1%)
  30%
    transform: translate(-2%, -2%)
  40%
    transform: translate(3%, 3%)
  50%
    transform: translate(-3%, -3%)
  60%
    transform: translate(4%, 4%)
  70%
    transform: translate(-4%, -4%)
  80%
    transform: translate(2%, 2%)
  90%
    transform: translate(-3%, -3%)
