.container--history {
  height: auto;
  position: relative;
  margin: (3 * $base-spacing) auto;

  @media screen and (min-width: $medium-screen) {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: $base-spacing;
  }

  @media screen and (min-width: $large-screen) {
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: 2 * $base-spacing;
  }

  grid-auto-flow: dense;
}

.gallery-item {
  @media screen and (min-width: $medium-screen) {
    float: left;
    width: 25%;
    -webkit-box-flex: 1;
            flex: 1 1 20%;
    padding: $small-spacing;
  }
  @supports ((display: -webkit-box) or (display: flex)) {
    margin-left: $base-spacing;
    margin-right: $base-spacing;
  }
  @supports (display: grid) {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    width: auto;
    margin-bottom: 2 * $base-spacing;;
    border-bottom: 0.1rem solid $medium-gray;
  }


  img {
    width: 100%;
    display: block;
    background-color: $light-gray;
    margin-bottom: $small-spacing;
  }

  grid-column: span 4;
  grid-row: span 2;

  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: end;
          justify-content: flex-end;

  &:nth-child(3n-1) {
    grid-column: span 8;
    grid-row: span 4;
    transition-delay: $base-duration;
  }

  &:nth-child(3n-2) {
    transition-delay: 2 * $base-duration;
  }

  &:hover .gallery-item-title::after {
    background-color: $yellow;
  }

  &:focus {
    outline: none;
  }
}

.gallery-item-title {
  line-height: 2 * $base-spacing;
  font-weight: 400;
  color: $base-font-color;
  position: relative;

  &::after {
    height: 2 * $base-spacing;
    width: 2 * $base-spacing;
    border-radius: 50%;
    content: "";
    display: block;
    transition: background-color $base-duration $base-timing;
    background-image: url(/assets/images/expand-icon.svg);
    background-size: 40% auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $light-gray;
  }
}

/* Unopened lightbox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;

  @media screen and (orientation: portrait) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

.lightbox-image {
  background-color: $dark-gray;
  -webkit-box-flex: 1;
          flex: 1 1 70%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  overflow: hidden;
  @media screen and (orientation:portrait) {
    -webkit-box-flex: 1;
            flex: 1 0 56.25vw;
  }

  img {
    width: 100%;
    margin: auto;
    display: block;
  }
}

/* Opened lightbox */
.lightbox.active {
  display: -webkit-box;
  display: flex;
}

.lightbox-text {
  -webkit-box-flex: 1;
          flex: 1 0 30%;
  height: 100%;
  padding: $small-spacing $small-spacing/2;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  @media screen and (orientation:portrait) {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    padding: $base-spacing $small-spacing
  }

  @media screen and (min-width: $medium-screen) {
    padding: $base-spacing $small-spacing $small-spacing;
  }
  @media screen and (min-width: $large-screen) {
    padding: 1.5 * $base-spacing 1.5 * $base-spacing  $small-spacing;
  }

  @media screen and (min-width: $xl-screen) {
    padding: 2 * $base-spacing 2 * $base-spacing $base-spacing;
  }
}

.lightbox-text-inner {
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  overflow: auto;
  margin-bottom: auto;
}

/* Close button */

.lightbox-navigation {
  display: -webkit-box;
  display: flex;
  border-top: 1px solid $light-gray;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: $small-spacing 0 0;
  @media screen and (orientation:portrait) {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }

}

.lightbox-navigation a {
  background-color: $light-gray;
  display: inline-block;
  text-indent: -99999px;
  height: 2 * $base-spacing;
  width: 2 * $base-spacing;
  border-radius: 50%;
  transition: background-color $base-duration $base-timing;
  &:hover {
    background-color: $yellow;
  }
  &.next, &.previous {
    background-image: url(/assets/images/next-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
  }
  &.previous {
    background-image: url(/assets/images/prev-icon.svg);
    margin-right: $small-spacing/2;
  }

}

.lightbox .close {
  display: block;
  background-color: $light-gray;
  text-indent: -99999px;
  height: 2 * $base-spacing;
  width: 2 * $base-spacing;
  border-radius: 50%;
  transition: background-color $base-duration $base-timing;
  position: relative;
  margin-left: auto;
  bottom: 0;
  right: 0;
  &::after {
    content: "×";
    text-indent: 0;
    display: block;
    position: absolute;
    color: $dark-gray;
    height: 2 * $base-spacing;
    line-height: 2.05 * $base-spacing;
    font-size: modular-scale(3);
    top: 0;
    left: 0;
    width: 2 * $base-spacing;
    text-align: center;
  }

  &:hover {
    background-color: $yellow;
  }
}
