.section--intro
  width: calc(100% - 8vmax)
  margin: 4vmax auto
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @media screen and (min-width: $medium-screen)
    flex-direction: row

  @media screen and (min-width: $large-screen)
    width: 80%
  @media screen and (min-width: $xl-screen)
    width: 66.67%
  .intro-image
    margin-bottom: $base-spacing
    @media screen and (min-width: $medium-screen)
      margin-right: 2 * $base-spacing
      margin-bottom: 0
    @media screen and (min-width: $large-screen)
      flex: 0 0 45%
    img
      display: block
      width: 100%

.backers-logos
  margin-top: .25 * $base-spacing
  height: 1.75 * $base-spacing
  max-width: 100%

.hero-logos
  margin-top: $base-spacing

.hlf-logo
  width: 3 * $base-spacing
  display: block
  float: left

.hpph-logo
  margin-top: .25em
  width: 4.5 * $base-spacing
  display: block
  float: left
  margin-right: $base-spacing