.site-header
  height: 5vmax
  margin: 0 4vmax
  line-height: 5vmax
  // Positioning context for the mobile navigation icon
  position: sticky  
  z-index: 999
  // mix-blend-mode: screen


.site-title
  font-size: modular-scale(1)
  margin-bottom: 0
  float: left
  &,&:visited
    color: $dark-gray


.site-nav
  float: right
  .nav-trigger, label[for="nav-trigger"]
    display: none

  .menu-icon
    display: none

  .page-link
    // Gaps between nav items, but not on the last one
    &:not(:last-child)
      margin-right: $base-spacing
  a
    color: $base-font-color
    text-transform: lowercase
    &.active
      color: $action-color

  @media screen and (max-width: $medium-screen)
    position: absolute
    display: block
    top: 9px
    right: $base-spacing / 2
    border: 1px solid $medium-gray
    border-radius: 5px
    text-align: right
    label[for="nav-trigger"]
      display: block
      float: right
      width: 36px
      height: 36px
      z-index: 2
      cursor: pointer
    .menu-icon
      display: block
      float: right
      width: 36px
      height: 26px
      line-height: 0
      padding-top: 10px
      text-align: center
      > svg path
        fill: $dark-gray

    input ~ .trigger
      clear: both
      display: none

    input:checked ~ .trigger
      display: block
      padding-bottom: 5px

    .page-link
      display: block
      padding: 5px 10px
      margin-left: 20px
      &:not(:last-child)
        margin-right: 0
