.container--tweets ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin: (4 * $base-spacing) 0;

  li {
    -webkit-box-flex: 0;
            flex: 0 1 25%;
    word-break: break-word;
    margin-right: 2 * $base-spacing;

    &:last-child {
      margin-right: 0;
    }
  }

  .tweet {
    font-size: modular-scale(2);
    margin-bottom: 2 * $base-spacing;

    a {
      color: $dark-gray;
      border-bottom: 1px solid $medium-gray;

      &:hover {
        color: $action-color;
      }
    }
  }

  .timePosted {
    margin-bottom: 2 * $base-spacing;

    a {
      color: $light-gray;

      &:hover {
        color: $action-color;
      }
    }
  }

  .user {
    font-size: modular-scale(1);
    font-family: $heading-font-family;
    letter-spacing: $small-heading-letter-spacing;

    img {
      width: 1.85 * $base-spacing;
      border: 1px solid #eee;
      -webkit-filter: saturate(0);
              filter: saturate(0);
      float: left;
      border-radius: 50%;
      margin-right: 0.25em;
      display: none;
    }

    span {
      display: block;
      line-height: 1.4;
    }

    a {
      color: $yellow;

      &:hover {
        color: $action-color;

        img {
          -webkit-filter: saturate(1);
                  filter: saturate(1);
        }
      }
    }

    [data-scribe="element:screen_name"] {
      font-size: modular-scale(-1);
    }
  }
}