.updates-wrapper
  position: relative
  margin: 2 * $base-spacing (-$base-spacing)
  &::after,&::before
    content: ''
    pointer-events: none
    position: absolute
    display: block
    left: -1px
    top: 0
    height: 100%
    width: 2 * $base-spacing
    @media screen and (min-width: $medium-screen)
      width: 4 * $base-spacing
    background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0))
    z-index: 99
  &::after
    left: auto
    right: -1px
    background: linear-gradient(270deg, rgba(255,255,255,1), rgba(255,255,255,0))

.updates-scroller
  display: flex
  flex-direction: row
  overflow-x: scroll
  overflow-y: hidden
  position: relative
  cursor: ew-resize

.updates-scroller::-webkit-scrollbar
  height: 0

.updates-item
  position: relative
  flex: 0 0 50%
  @media screen and (min-width: $medium-screen)
    flex: 0 0 33.33%
  @media screen and (min-width: $large-screen)
    flex: 0 0 25%
  @media screen and (min-width: $xl-screen)
  border: solid $base-spacing white
  background-color: $light-gray
  &::after
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: rgba(50,50,50,.15)
  a
    pointer-events: auto
    cursor: pointer

.updates-item-active
  .updates-title, .updates-date
    transition: color $base-duration
    color: $yellow

.updates-inner
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding: $small-spacing $base-spacing
  display: flex
  justify-content: flex-end
  flex-direction: column

.updates-image
  display: block

.updates-date
  pointer-events: none
  font-size: modular-scale(1)
  position: relative
  z-index: 99
  margin-bottom: $small-spacing
  color: white
  font-family: $heading-font-family
  color: white
  letter-spacing: $small-heading-letter-spacing

.updates-title
  pointer-events: none
  user-select: none
  margin-bottom: 0
  font-size: modular-scale(5)
  color: $yellow
  position: relative
  z-index: 99
  font-family: $heading-font-family
  line-height: $heading-line-height


.video-player
  border: solid $base-spacing white
  position: relative
  flex: 0 0 auto
  box-sizing: content-box
  &::after
    content: ''
    display: block
    width: 100%
    height: $base-spacing
    background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0))
    left: 0
    position: absolute
    top: 100%
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: none
    animation: comeOnIn 1500ms 1000ms ease forwards
    opacity: 0

@keyframes comeOnIn
  0%
    opacity: 0
    transform: translateY(100%)
  100%
    opacity: 1
    transform: translateY(0)