.updates-wrapper {
  position: relative;
  margin: (0) 0 $base-spacing;
}

.updates-button-container {
  margin-top: 1.5 * $base-spacing;
  text-align: center;
}

.updates-panel {
  margin-bottom: $base-spacing;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, calc(25% - #{$base-spacing/1.33} ));
  grid-template-rows: 25vw;
  grid-column-gap: $base-spacing;
  grid-row-gap: $base-spacing;
  // height: calc(50vw + #{$base-spacing});

  &__first {
    .updates-item:first-child {
      grid-column-end: span 2;

      .updates-date {
        font-size: modular-scale(2);
      }

      .updates-title {
        font-size: modular-scale(3);
      }
    }
  }

  &__overflow {
    display: none;

    &.show {
      display: grid;
    }
  }

}

.updates-item {
  position: relative;
  user-select: none;
  overflow: hidden;
  background-clip: content-box;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: none;
    max-height: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(25, 25, 25, 0.2);
    transition: opacity $base-timing $base-duration;
  }

  a {
    pointer-events: auto;
    cursor: pointer;
  }

  &:hover::after {
    opacity: 0;
  }

  &:hover .updates-title::after {
    background-color: $yellow;
  }
  &:hover .updates-date,
  &:hover::before {
    color: white
  }
}

.updates-item-active {
  position: relative;
  z-index: 999999;
}

.updates-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $base-spacing/1.5 $base-spacing;
  display: -webkit-box;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  counter-increment: updates -1;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35%;
    background-image: linear-gradient(to top, black 30%, transparent 100%);
  }

  @media screen and (min-width: $medium-screen) {
    // padding: $small-spacing $base-spacing;

    &::before {
      content: counter(updates) "-";
      font-size: modular-scale(11);
      position: absolute;
      top: 0;
      left: $small-spacing;
      z-index: 99;
      line-height: 1;
      font-family: $heading-font-family;
      color: white;
      margin-bottom: 0;
      display: block;
      opacity: 0.15;
      text-indent: -0.05em;
    }
  }
}

.updates-image {
  display: block;
}

.updates-date {
  pointer-events: none;
  font-size: modular-scale(0);
  position: relative;
  z-index: 99;
  margin-bottom: $small-spacing/2;
  color: white;
  font-family: $heading-font-family;
  color: white;
  letter-spacing: $small-heading-letter-spacing;
  transition: color $base-timing $base-duration;
}

.updates-title {
  display: block;
  padding-right: $base-spacing;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0;
  font-size: modular-scale(1);
  color: white;
  position: relative;
  z-index: 99;
  line-height: $heading-line-height;

  @media screen and (min-width: $medium-screen) {

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0%;
      transform: translate(20%,-5%);
      display: inline-block;
      height: 1em;
      width: 1em;
      margin-left: .1em;
      margin-bottom: .1em;
      background-color: $light-gray;
      border-radius: 50%;
      background-image: url(/assets/images/next-icon.svg);
      transition: background-color $base-duration $base-timing;
      background-size: 40% auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.video-player {
  position: relative;
  z-index: 999999;
  border: solid $small-spacing transparent;
  position: relative;
  flex: 0 0 auto;
  box-sizing: content-box;

  @media screen and (min-width: $large-screen) {
    border: solid $base-spacing transparent;
  }

  &::after {
    // content: "";
    display: block;
    width: 100%;
    height: $base-spacing;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    left: 0;
    position: absolute;
    top: 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    animation: comeOnIn 1500ms 1000ms ease forwards;
    opacity: 0;
  }
}

@keyframes comeOnIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}