<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body class="{{ page.layout }}">

    <script>
      document.querySelector('body').classList.add('loading');
    </script>

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>


    {% if page.layout == 'home' %}

      <script type="text/javascript" src="/assets/scripts/scrollSpy.js"></script>
      <script type="text/javascript" src="/assets/scripts/timeline.js"></script>
      <script type="text/javascript" src="/assets/scripts/updates.js"></script>
      <script type="text/javascript" src="/assets/scripts/rellax.js"></script>
      <script type="text/javascript" src="/assets/scripts/aims.js"></script>
      <!-- <script type="text/javascript" src="/assets/scripts/tweets.js"></script> -->
      <script type="text/javascript" src="/assets/scripts/aos.js"></script>
      <script type="text/javascript" src="/assets/scripts/lazysizes.min.js"></script>
      <script type="text/javascript" src="/assets/scripts/countUp.min.js"></script>
      <script type="text/javascript" src="/assets/scripts/intersectionobserver.js"></script>

      <script>
          AOS.init();
          var rellax = new Rellax('.aim-number');
      </script>
    {% endif %}

    <script type="text/javascript" src="/assets/scripts/smoothscroll.min.js"></script>
    <script>
      var easingFn = function (t, b, c, d) {
      var ts = (t /= d) * t;
      var tc = ts * t;
      return b + c * (tc * ts + -5 * ts * ts + 10 * tc + -10 * ts + 5 * t);
      }

      var options = {
        useEasing: true,
        easingFn: easingFn,
        useGrouping: false,
        separator: ',',
        decimal: '.',
      };

      myFunction = function myFunction() {
        var demo = new CountUp(document.querySelector('.home-hero-year'), 2017, 1914, 0, 5, options);
        if (!demo.error) {
          demo.start();
        } else {
          console.error(demo.error);
        }
      }

      document.addEventListener('DOMContentLoaded', function(){
        document.querySelector('body').classList.remove('loading');
        setTimeout(myFunction, 500);



      })
    </script>

  </body>

</html>
