---
layout: default
---
<!-- <script>
  var pw = prompt("Please enter password", "");

  if (pw !== 'password') {
    window.location.href = "http://thepicturehouseproject.com/";
  }
</script> -->
{% include /home/hero.html %}
{% include header.html %}
{% include /home/intro.html %}
{% include /home/timeline.html %}
{% include /home/aims.html %}
{% include /home/updates.html %}
{% include /home/history.html %}
{% comment %} {% include /home/tweets.html %} {% endcomment %}
{% include /home/signup.html %}
{% include footer.html %}