---
layout: default
---
{% include header.html %}

  <div class="container">
    <a class="back-link" href="/">&larr; Back to homepage</a>
    {% if page.video and page.video != '' %}
    <div class="video-wrapper">
      <iframe frameborder="0" src="{{ page.video }}?modestbranding=1&showinfo=0&rel=0&autoplay=1"></iframe>
    </div>
    {% else %}
      {% include cloudinary.html class="" img=page.image modes="c_fill" width="1600" height="800" sizes="90vw" quality="85" %}
    {% endif %}
  </div>
  <div class="container container__narrow">
    <h1 class="page-title">{{ page.title }}</h1>
    <h2 class="page-date">{{ page.date | date: "%d.%m.%y" }}</h2>

    <div class="page-body">
      {{ page.content }}
    </div>
  </div>

{% include footer.html %}