

<section class="section section--aims" id="aims">
  <h2 class="section-title">Project aims.</h2>
  <div class="aims-wrapper">
    <div class="aim">
      <div class="aim-text">
        <p class="aim-label">our aims</p>
        <h3 class="aim-heading">Protecting and preserving our historic cinema</h3>
        <p class="aim-description">
          Exploring, celebrating and conserving the cinema’s rich heritage lies at the very heart of this project. From refurbishing our unique gas-lights and Edwardian plasterwork, to maintaining our ability to project and share traditional analogue film formats - the project will ensure our historic Grade II listed cinema is preserved for many years to come.
        </p>
        <a class="button" href="#">Discover more</a>
        <div class="aim-more">
          <h3>Gas-lights.</h3>
          <p>As the only remaining gas-lit cinema in the UK, our nine gas lamps are a key heritage feature. As well as refurbishing them we’ll also help preserve the skills required to maintain them, ensuring they keep flickering in our auditorium long into the future.</p>
          <h3>Restorations.</h3>
          <p>Elements of the cinema need urgent help to reinstate their former glory. From the ornate plasterwork and iconic clock in the auditorium, to exterior façade and original terrazzo tiles, we’ll sensitively clean, restore and refurbish features throughout the building.</p>
          <h3>35mm film.</h3>
          <p>Two 1960s Cinemeccanica projectors and a well-trained projection team enable our continued screening of film from 35mm prints. We’ll ensure equipment and skills are properly maintained, but also increase projection room tours to help share the history and tradition of film.</p>
        </div>
      </div>
      <p class="aim-number" data-rellax-percentage="0.5" data-rellax-speed="-1.5">1</p>
      <div class="aim-image">
        {% include cloudinary.html img="/assets/images/73-BW.jpg" class="lazyload" alt="Row of seats in main cinema auditorium" width="600" height="150" sizes="(min-width: 900px) 50vw, 100vw" quality="95" %}        
      </div>
    </div>

    <div class="aim">
      <div class="aim-text">
        <p class="aim-label">our aims</p>
        <h3 class="aim-heading">A building open to everyone</h3>
        <p class="aim-description">
          A fundamental aim is for the Picture House to become a space that is truly accessible for all. This means implementing step-free access to all major parts of the cinema, providing better facilities including accessible toilets and working hard to remove non-physical barriers too - so that all audiences, regardless of their background, feel safe, comfortable and welcome in our building.
        </p>
        <a class="button" href="#">Discover more</a>
        <div class="aim-more">
          <h3>Step-free.</h3>
          <p> Because of its age, our building isn’t adequately accessible. Steps at the main entrance mean people in wheelchairs enter through an awkward side entrance, and none of our toilets are step-free. We’re going to change this, creating step-free access to most of the building.</p>
          <h3>New facilities.</h3>
          <p>New toilets will be wheelchair accessible and offer baby changing facilities. Improvements will be made to our subtitling and audio description screenings, and a new café/bar area will put an end to early arrivals waiting outside in the cold.</p>
          <h3>A safe space.</h3>
          <p>Access barriers aren’t always physical. For visitors with autism or dementia, those who are deaf or blind, or who are old or young - going to the cinema can sometimes be a challenging experience. We’ll ensure these audiences are consulted and considered, so that our building welcomes everyone.</p>
        </div>
      </div>
      <p class="aim-number" data-rellax-percentage="0.5" data-rellax-speed="1.5">2</p>
      <div class="aim-image">
        <img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/27-BW.jpg" width="600" height="450" alt="Exterior shot of Hyde Park Picture House showing ornate detail on lamppost." />
      </div>
    </div>

    <div class="aim">
      <div class="aim-text">
        <p class="aim-label">our aims</p>
        <h3 class="aim-heading">Creating the best film watching experience in Leeds</h3>
        <p class="aim-description">
          Whether you’re into world cinema, timeless classics, or the latest award winner – we’ll be able to bring you more of what you love. A second screen in the basement will mean twice as many films, and a programme with even more variety. And with the refurbishment of our existing auditorium, including upgraded projection technologies and improvements in comfort, we’ll be the best place in Leeds for you to experience your new favourite film.
        </p>
        <a class="button" href="#">Discover more</a>
        <div class="aim-more">
          <h3>A second screen.</h3>
          <p>Converting our existing basement into a permanent second screen seating 40-60 people will mean a programme with twice as many showings, and significantly more specialised film titles. That means more of the best foreign language, documentary and independent films being screened in Leeds.</p>
          <h3>More comfort.</h3>
          <p>Our main auditorium will receive much-needed refurbishment, maintaining character and heritage while improving comfort. Environmental performance will improve thanks to sophisticated new ventilation, allowing the cinema to be the right temperature whatever the weather.</p>
          <h3>Upgraded technology.</h3>
          <p>Our aim is to be a historic cinema but also a truly modern one, so we’ll maintain our 35mm projectors while upgrading our digital ones too. Investment in our sound system, cinema screen and dedicated team of projectionists means you’ll be seeing movies in their best possible light.</p>
        </div>
      </div>
      <p class="aim-number" data-rellax-percentage="0.5" data-rellax-speed="-1.5">3</p>
      <div class="aim-image">
        <img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/10-BW.jpg" width="600" height="450" alt="Projector in Hyde Park Picture House projection room." />
      </div>
    </div>

    <div class="aim">
      <div class="aim-text">
        <p class="aim-label">our aims</p>
        <h3 class="aim-heading">A picture house that works for its community</h3>
        <p class="aim-description">
          With a building that’s open for longer, more accessible and able to provide more multifunctional space, we’ll be able to do more to serve our local community. From local schools and universities, to charities and community groups; this project will allow us to better fulfil one of our core aims: ‘for the cinema to be seen as a progressive cultural organisation, a safe space and an essential hub within our community’.
        </p>
        <a class="button" href="#">Discover more</a>
        <div class="aim-more">
          <h3>A new café/bar.</h3>
          <p>Made possible by an extension along the long north side of the building, this will transform the way the cinema interacts with its community, quite literally opening up the building to provide a safe, welcoming space people can pop-in, hang-out and call their own.</p>
          <h3>Flexible spaces.</h3>
          <p>Our new spaces will be multifunctional. New breakout spaces will be available for use by the local community for workshops and meetings, and our new basement screen will support education and dialogue by additionally accommodating lectures, presentations and discussions.</p>
          <h3>Partnerships.</h3>
          <p>We’ll create new partnerships to help us reach new audiences, developing learning programmes with schools to engage young peple, hosting more reminisce screenings for people who are older, and doing much more to involve Black, Asian and Minority Ethnic audiences.</p>
        </div>
      </div>
      <p class="aim-number" data-rellax-percentage="0.5" data-rellax-speed="1.5">4</p>
      <div class="aim-image">
        <img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/39-BW.jpg" width="600" height="450" alt="Windowsill and stairs in Hyde Park Picture House foyer." />
      </div>
    </div>
</section>