<section class="section section--aims" id="aims">
  <h2 class="section-title">Project aims.</h2>
  <div class="aims-wrapper">
    <div class="aim">
      <div class="aim-text">
        <p class="aim-label">our aims</p>
        <h3 class="aim-heading">Protecting and preserving our historic cinema</h3>
        <p class="aim-description">
          A refurbishment of our main auditorium will restore key heritage features like our original gas lighting, while behind the scenes we’ll be making sure we can continue to project 35mm film. We’ll also be expanding our role as a heritage organisation, doing
          more to promote the rich history of film in Yorkshire.
        </p>
        <a class="button" href="#">Button</a>
      </div>
      <p class="aim-number">1</p>
      <div class="aim-image">
        <img src="/assets/images/10-BW.jpg" width="600" height="450" alt="Row of seats in main cinema auditorium" />
      </div>
    </div>

    <div class="aim">
      <div class="aim-text">
        <p class="aim-label">our aims</p>
        <h3 class="aim-heading">A building that’s open to everyone</h3>
        <p class="aim-description">
          A key motivation for making changes to our building is the need to make sure it’s a space that’s accessible by all. We’ll be implementing step-free access to all parts of the building (including accessible toilets), but we’ll also be working hard to ensure
          that we’re a safe, welcoming and comfortable space for other groups like those with autism or dementia.
        </p>
        <a class="button" href="#">Button</a>
      </div>
      <p class="aim-number">2</p>
      <div class="aim-image">
        <img src="/assets/images/40-BW.jpg" width="600" height="450" alt="Exterior shot of Hyde Park Picture House showing ornate detail on lamppost." />
      </div>
    </div>

    <div class="aim">
      <div class="aim-text">
        <p class="aim-label">our aims</p>
        <h3 class="aim-heading">Creating the best film watching experience in Leeds</h3>
        <p class="aim-description">
          Whether you like watching the latest oscar winners, foreign language independents, or gems from the archive, a second screen will mean a programme with twice as many films. That means we’ll be able to better cater for everyone. A refurbishment of our
          main auditorium will also mean that we’re able to show the latest films using the latest technology, so you’re always seeing film the way it’s meant to be seen.</p>
        <a class="button" href="#">Button</a>
      </div>
      <p class="aim-number">3</p>
      <div class="aim-image">
        <img src="/assets/images/70-BW.jpg" width="600" height="450" alt="Projector in Hyde Park Picture House projection room." />
      </div>
    </div>

    <div class="aim">
      <div class="aim-text">
        <p class="aim-label">our aims</p>
        <h3 class="aim-heading">A picture house that works for its community</h3>
        <p class="aim-description">We’ve been working with and for the local community for many years. With a wider range of multipurpose spaces and longer opening hours, we’ll become a community asset that local people, groups and schools can use for film and other events. We’ll
          also be developing our role as a place of education – supporting young filmmakers throughout local communities.</p>
        <a class="button" href="#">Button</a>
      </div>
      <p class="aim-number">4</p>
      <div class="aim-image">
        <img src="/assets/images/29-BW.jpg" width="600" height="450" alt="Windowsill and stairs in Hyde Park Picture House foyer." />
      </div>
    </div>
</section>