<section class="section section--gallery" id="gallery">

  <h2 class="section-title" data-secondaryheading="gallery">See inside.</h2>
  <p class="section-subheading">
    Explore the many ways we’ll be improving the Hyde Park Picture House – from vital repair and restoration work on the cinema’s heritage features, to the creation of new accessible facilities, making the Picture House a place that everyone can visit.
  </p>
  <div class="container--gallery">
    <div class="gallery-wrapper">
      <div class="gallery-scroller">
        {% assign gallery = site.gallery | sort: 'order'%}
        {% for item in gallery %}
          <div data-target="#gallery-item-{{ forloop.index }}-1-overlay" class="gallery-item" style="transition-duration: 2000ms">
            {% assign firstImage = item.images | first %}
            {% include cloudinarylazy.html img=firstImage.file width="600" height="350" sizes="(min-width: 900px) 65vw, 100vw" quality="85" modes="c_fill" %}

            <h3 class="gallery-item-title">
              {{ item.title }}
              {% assign imageCount = item.images | size %}
              {% if imageCount > 1 %}
                <span class="gallery-item-badge">
                  {% include icon-images.html %}
                  {{ imageCount }}
                </span>
              {% endif %}
            </h3>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="gallery-lightboxes debug">
    {% for item in gallery %}
      {% assign areaIndex = forloop.index %}
      {% assign imageCount = item.images | size %}
      {% for image in item.images %}
        {% assign imageIndex = forloop.index %}
        <div class="lightbox" id="gallery-item-{{areaIndex}}-{{ imageIndex }}-overlay">
          <div class="lightbox-image">
            <div style="position: relative;">
              {% include cloudinarylazy.html img=image.file width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" modes="c_fit" %}
              {% assign imageTitleLength = image.title | size %}
              {% if imageTitleLength > 0 or imageCount > 1 %}
                <span class="gallery-item-badge">
                  <em>{{ image.title }}</em>
                  {% if imageCount > 1 %}
                    {% include icon-images.html %}
                    {{ imageIndex }}/{{ imageCount }}
                  {% endif %}
                </span>
              {% endif %}
              {% for marker in image.markers %}
                <div class="hotspot gallery-hotspot " data-target="gallery--hotspot-{{ areaIndex }}-{{ imageIndex }}-{{ forloop.index }}" style="left: {{ marker.x}}%; top: {{ marker.y }}%">{{ forloop.index }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="lightbox-text">
            <h3>{{ item.title }}</h3>
            <div class="lightbox-text-inner">
              {{ item.content | markdownify }}
            </div>
            <div class="lightbox-marker-content">

              <p class="lightbox-text-marker lightbox-text-marker--instructions highlight active">
                Select a hotspot on the image to find out more about the planned developments in each area of the building.
              </p>
              {% for marker in image.markers %}
                <div class="lightbox-text-marker highlight" id="gallery--hotspot-{{ areaIndex }}-{{ imageIndex }}-{{ forloop.index }}">
                  <h3>{{ marker.title }}</h3>
                  <p>{{ marker.text }}</p>
                </div>
              {% endfor %}
            </div>

            <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a><a href="#" class="close">Close</a></div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

</section>