<section class="section section--hero">
  <!-- {% include cloudinary.html class="hero-image bw" img="/assets/images/still.png" alt="Close up of ornate detailing on lamp post in front of Hyde Park Picture House box office" width="1600" height="800" quality="85" %}
  <div class="hero-image-fallback"></div> -->


  <div class="hero-slide hero-slide--1">
    <p>A project by</p>
    <p>The Hyde Park Picture House</p>
  </div>
  <div class="hero-slide hero-slide--2">
    <p>Supported by</p>
    <p>The Heritage Lottery Fund</p>
  </div>
  <div class="hero-slide hero-slide--3">
    <p>Celebrating &amp; renewing</p>
    <p>our historic cinema</p>
  </div>
  <div class="hero-slide hero-slide--4">
    <p>The Picture House Project.</p>
  </div>
  <!-- <video class="cover-video hero-video" autoplay="" preload="" loop="" muted="" playsinline="">
    <source type="video/webm" src="http://res.cloudinary.com/letsdance/video/upload/ac_none,c_scale,e_accelerate:-10,vc_auto,w_1280/v1509545442/day_footage_1_B_W_1080_cmw8il.webm">
  </video> -->

  <video class="cover-video hero-video hero--video-2" autoplay="" preload="" loop="" muted="" playsinline="">
    <!-- looped 21s nighttime -->
    <!-- <source type="video/mp4" src="http://res.cloudinary.com/letsdance/video/upload/ac_none,e_accelerate:-12,q_91/v1509565014/Untitled2_yvyy2d.mp4">
    <source type="video/webm" src="http://res.cloudinary.com/letsdance/video/upload/ac_none,e_accelerate:-12,q_91/v1509565014/Untitled2_yvyy2d.webm"> -->

    <!-- long uncut daytime -->
    <source type="video/mp4" src="http://res.cloudinary.com/letsdance/video/upload/ac_none,e_accelerate:-20,q_60/v1509585202/header_video_test3_ch8wct.mp4">
      <source type="video/webm" src="http://res.cloudinary.com/letsdance/video/upload/ac_none,e_accelerate:-20,q_70/v1509585202/header_video_test3_ch8wct.webm">

    <!-- lamppost -->
    <!-- <source type="video/mp4" src="http://res.cloudinary.com/letsdance/video/upload/ac_none/v1509580924/video-1509580756_mr2qxc.mp4"> -->

  </video>




</section>