<section class="section section--hero">
  {% include cloudinary.html class="hero-image" img="/assets/images/40-BW.jpg" alt="Close up of ornate detailing on lamp post in front of Hyde Park Picture House box office" width="1600" height="800" quality="85" %}
  <div class="hero-image-fallback"></div>
  <div role="heading" aria-level="2" class="home-hero-title">{{site.description | markdownify}}</div>
  <h3 class="home-hero-strapline">A Hyde Park Picture House project<br /> with the Heritage Lottery Fund</h3>
</section>