<section class="section section--hero">

  <div class="hero-slide hero-slide--1">
    <p>A Heritage Lottery Fund project with</p>
    <p>The Hyde Park Picture House</p>
  </div>
  <!-- <div class="hero-slide hero-slide--2">
    <p>Supported by</p>
    <p>The Heritage Lottery Fund</p>
  </div>-->
  <div class="hero-slide hero-slide--3">
    <p>Celebrating &amp; renewing</p>
    <p>Our historic cinema for all</p>
  </div>
  <div class="hero-slide hero-slide--4">
    <p>The Picture House Project.</p>
  </div>


  {% include cloudinary.html img="/assets/images/HPPH_sketch.jpg" modes="f_auto,g_south,c_fill" class="hero-image" alt="Sketch of building exterior showing new extension." width="600" height="450" sizes="(orientation: portrait) 150vw, 100vw" quality="95" %}

  <!-- <video class="cover-video hero-video hero--video-2" autoplay="" preload="" loop="" muted="" playsinline="">
        <source type="video/mp4" src="http://res.cloudinary.com/letsdance/video/upload/ac_none,e_accelerate:-20,q_60/v1509585202/header_video_test3_ch8wct.mp4">
        <source type="video/webm" src="http://res.cloudinary.com/letsdance/video/upload/ac_none,e_accelerate:-20,q_70/v1509585202/header_video_test3_ch8wct.webm">
      </video>
  -->


</section>