<section class="section section--history" id="history">

  <h2 class="section-title" data-secondaryheading="history">Explore our history</h2>

  <div class="container--history">

    <a href="#" data-target="#history-item-1-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/18-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 25vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The gas lights</h3>
    </a>

    <a href="#" data-target="#history-item-2-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/13-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The main auditorium</h3>
    </a>

    <a href="#" data-target="#history-item-3-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/25-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 25vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The fireplace</h3>
    </a>

    <a href="#" data-target="#history-item-4-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/26-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 25vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The staircase</h3>
    </a>

    <a href="#" data-target="#history-item-5-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/14-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The clock</h3>
    </a>

    <a href="#" data-target="#history-item-6-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/30-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 25vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The stained glass window</h3>
    </a>

    <a href="#" data-target="#history-item-7-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/36-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 25vw, 100vw" quality="85" %}
      <h3 class="history-item-title">Original fire hydrant</h3>
    </a>

    <a href="#" data-target="#history-item-8-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/50-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The manager’s office</h3>
    </a>

    <a href="#" data-target="#history-item-9-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/41-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 25vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The lamppost</h3>
    </a>

    <a href="#" data-target="#history-item-10-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/43-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 25vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The ticket booth</h3>
    </a>

    <a href="#" data-target="#history-item-11-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/45-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The terrazzo tiles</h3>
    </a>

    <a href="#" data-target="#history-item-12-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/84-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 25vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The logbooks</h3>
    </a>

    <a href="#" data-target="#history-item-13-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      {% include cloudinarylazy.html img="/assets/images/70-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 25vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The 35mm projectors</h3>
    </a>

  </div>

  <div class="lightbox" id="history-item-1-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/18-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>Gas lights</h3>
      <p>One of the cinema’s most unique and significant heritage features are our nine gas lights, located within our auditorium and foyer.</p>
      <p>Originally installed as a form of ‘modesty lighting’ to prevent any inappropriate back-seat behaviour, they’re now a symbol of the cinema’s Edwardian origins and continue to be lit every single day.</p>
      <p>While the lamps have been well maintained over the years, they’re now in need of extensive restoration in order to ensure they can continue flicking in our aisles for many years to come.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="next">Next</a></div>
    </div>
  </div>

  <div class="lightbox" id="history-item-2-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/13-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The main auditorium</h3>
      <p>The main auditorium is not exactly as it was in 1914 but we are fortunate that no extreme alterations have been made. Many objects such as the clock, the proscenium arch and the lighting fittings were installed at different points in the cinema’s
        long life - each referencing quite specific historical eras.</p>
      <p>Many elements of the auditorium remain unchanged from 1914, including the location of the gas lamps and the ornate plasterwork that decorates the ceiling and front of the balcony.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a></div>
    </div>
  </div>
  <div class="lightbox" id="history-item-3-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/25-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The fireplace</h3>
      <p>Located in the foyer, where the snack kiosk currently stands, is the remnants of a grand fireplace which existed during the cinema’s early years. Once responsive for providing the bulk of the cinema’s heating, the fireplace would have warmed both
        the foyer and auditorium behind it.</p>
      <p>Sadly we have no photos of this original fireplace but we do have a drawing that helps fill in the details.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a></div>
    </div>
  </div>
  <div class="lightbox" id="history-item-4-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/26-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The staircase</h3>
      <p>The main feature in the foyer is the large, grand, wooden staircase, which leads to the balcony and ladies toilets. Many years ago the wooden bannisters were painted, but in the 1990s a dedicated team of staff stripped it back by hand, to reveal
        the beautiful wood beneath.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a>
      </div>
    </div>
  </div>
  <div class="lightbox" id="history-item-5-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/14-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The clock</h3>
      <p>The art-deco clock you see to the right of the screen has sat proudly in our auditorium since the 1950s. Prior to that it lived in the Gaumont cinema in Leeds City Centre – which is now the O2 Academy. Len Thompson, the cinema’s general manager
        at the time, saved the clock when the Gaumont sadly closed – along with some seats, and toilet signs.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a></div>
    </div>
  </div>
  <div class="lightbox" id="history-item-6-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/30-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The stained glass window</h3>
      <p>The window next to the staircase is home to one of our decorative glass panels, an original featuring dating back to 1914. Close inspection reveals it is part stained glass and part hand painted.</p>
      <p>For many of the cinema’s staff it’s their favourite part of the building – particularly during the summer months, when morning sunlight streams through the panels and casts a colourful beam of light gracefully across the stairs.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a></div>
    </div>
  </div>
  <div class="lightbox" id="history-item-7-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/36-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The fire hydrant</h3>
      <p>While today we’re fully fitted with contemporary fire-fighting equipment, none of that makes quite the same statement as our original fire hydrant, located by the main doors.</p>
      <p>The existence of such an object has significant historical relevance. The 1909 Cinematograph Act, which led to the creation of the UK’s first purpose build cinemas, was passed in response to a number if disastrous fires that took place in temporary
        exhibition spaces. The flammable nature of early nitrate film meant that cinemas were at greater risk from fire than typical public buildings, leading to extensive equipment like this hydrant being installed.</p>
      <p>Luckily the hydrant has never been used in a fire-fighting situation, but following a test a number of years ago, we know that it is still functional. And since the water comes straight from the mains, the force of the hose is quite impressive,
        and enough to throw the user to the ground!</p>

      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a></div>
    </div>
  </div>

  <div class="lightbox" id="history-item-8-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/50-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The manager’s office</h3>
      <p>A section of the Picture House rarely seen by visitors is its large basement – which spans the entire footprint of the building. This is where the original manager’s office was located, with the manager’s phone - used to communicate with staff upstairs
        - still hung on the wall.</p>
      <p>The reason this office was located in the basement and not above ground, was due to there being even less space on the upper floors than there is today. When bulky electrical generators and projection equipment were removed from the room adjacent
        to the projection booth, the manager’s office was positioned there instead - which is where it remains to this day. </p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a></div>
    </div>
  </div>


  <div class="lightbox" id="history-item-9-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/41-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The Lamppost</h3>
      <p>Our ornamental lamppost is an iconic part of the Picture House and like the main building, it is also Grade II listed. Originally a gas-lit, the lamp is now powered by electricity.</p>
      <p>It was manufactured by W. MacFarlane &amp; Co, also known as the Saracen Foundry, renowned at the time as the most important manufacturer of ornamental ironwork in Scotland. And as part of The Picture House Project, we hope to restore some of the
        more intricate detailing on the lamp, and helping to return it back to it’s former splendour.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a></div>
    </div>
  </div>
  <div class="lightbox" id="history-item-10-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/43-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The ticket booth</h3>
      <p>The small ticket booth at the front has been home to the cinema’s box office for many years.</p>
      <p>However during periods of the cinema’s long history, the box office was brought inside, to where the kiosk is currently located, to prevent patrons from having to queue outside.</p>
      <p>The Picture House Project aims to preserve the historic ticket booth, while the day-to-day function of a box office may be moved to a more suitable location.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a></div>
    </div>
  </div>
  <div class="lightbox" id="history-item-11-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/45-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The terrazzo tiles</h3>
      <p>Located at the foot of the cinema’s main doors are our terrazzo tiles, complete with beautiful marble and granite mosaic detailing. Considering the many feet it’s seen over the years it’s in remarkably good shape, though time has been kinder to
        some sections than others. Green sections of the design are almost worn away, and as part of The Picture House Project, we’ll be keen to restore and preserve as much of this tiling as we can.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a></div>
    </div>
  </div>
  <div class="lightbox" id="history-item-12-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/84-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The logbooks</h3>
      <p>Thanks to a recent donation from the extended family of the cinema’s first manager, Arthur Child, the Picture House now has original copies of all of its historic log books – from the year it opened in 1914, through to the Second World War.</p>
      <p>Within these pages, there are details of every single film that played, as well as attendance figures, money taken (including on chocolate and cigarettes) and the weather each and every day.</p>
      <p>The books are now safely stored in the cinema’s archive, based at the West Yorkshire Archive service.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a></div>
    </div>
  </div>
  <div class="lightbox" id="history-item-13-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img="/assets/images/70-COLOUR.jpg" width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>The 35mm projectors</h3>
      <p>The cinema’s two Cinemeccanica 35mm projectors are still located in the cinema’s projection room, and continue to be operated on a weekly basis. Manufactured in the 1960s, they were originally installed at the Odeon cinema in Grimsby, and then the
        Lounge in Headingly, before finding their home at the Hyde Park Picture House in 2005.</p>
      <p>The machines have been well maintained over the years by a team of trained projectionists, and allow the cinema to project a large number of classic and archive films that many other cinemas can now no longer screen.</p>
      <a href="#" class="close">Close</a>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a></div>
    </div>
  </div>

</section>