<section class="section section--history" id="history">

  <h2 class="section-title" data-secondaryheading="history">Explore our history</h2>
  <div class="container--history">
    {% for item in site.history %}
      <a href="#" data-target="#history-item-{{ forloop.index }}-overlay" class="history-item" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
        {% include cloudinarylazy.html img=item.image width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" modes="c_fill,e_grayscale" %}
        <h3 class="history-item-title">{{ item.title }}</h3>
      </a>
    {% endfor %}
  </div>

{% for item in site.history %}
  <div class="lightbox" id="history-item-{{ forloop.index }}-overlay">
    <div class="lightbox-image">
      {% include cloudinarylazy.html img=item.image width="900" height="675" sizes="(min-width: 900px) 70vw, 100vw" quality="85" %}
    </div>
    <div class="lightbox-text">
      <h3>{{ item.title }}</h3>
      <div class="lightbox-text-inner">
        {{item.content | markdownify }}
      </div>
      <div class="lightbox-navigation"><a href="#" class="previous">Previous</a><a href="#" class="next">Next</a><a href="#" class="close">Close</a></div>
    </div>
  </div>
{% endfor %}

</section>