<section class="section section--history" id="history">

  <h2 class="section-title">Celebrating our history</h2>

  <div class="container--history">

    <a href="#history-item-1-overlay" data-noscroll id="history-item-1" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/09-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">Gas lights</h3>
    </a>

    <a href="#history-item-2-overlay" id="history-item-2" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/13-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The main auditorium</h3>
    </a>

    <a href="#history-item-3-overlay" id="history-item-3" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/25-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The history of the foyer</h3>
    </a>

    <a href="#history-item-4-overlay" id="history-item-4" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/26-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">Title of update</h3>
    </a>

    <a href="#history-item-5-overlay" id="history-item-5" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/14-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The clock</h3>
    </a>

    <a href="#history-item-6-overlay" id="history-item-6" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/30-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">Decorative glass</h3>
    </a>

    <a href="#history-item-7-overlay" id="history-item-7" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/36-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">Original fire hydrant</h3>

    </a>

    <a href="#history-item-8-overlay" id="history-item-8" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/39-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">Our beginnings</h3>
    </a>

    <a href="#history-item-9-overlay" id="history-item-9" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/41-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">Lamp post</h3>
    </a>

    <a href="#history-item-10-overlay" id="history-item-10" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/43-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">Box office</h3>
    </a>

    <a href="#history-item-11-overlay" id="history-item-11" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/45-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">Tiles</h3>
    </a>

    <a href="#history-item-12-overlay" id="history-item-12" class="history-item" data-aos="fade-up" data-aos-anchor-placement="top-center">
      {% include cloudinarylazy.html img="/assets/images/history/84-BW.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
      <h3 class="history-item-title">The first film</h3>
    </a>

  </div>

  <div class="lightbox" id="history-item-1-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/09-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>Gas lights</h3>
      <p>One of the really unusual features at the Picture House is our gas lighting. These are not the original fittings but they’re still pretty stunning. Very few buildings in the UK now have gas lighting. The only other example we’ve come across is a pub in Beverley near Hull!</p>
      <a href="#history-item-1" class="close">Close</a>
    </div>
  </div>

  <div class="lightbox" id="history-item-2-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/13-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>The main auditorium</h3>
      <p>The cinema auditorium is not exactly as it was in 1914 but we are fortunate that no extreme alterations have been made. Many single screen cinemas like the Hyde Park have been converted to bingo halls or carpet warehouses.</p>
      <a href="#history-item-2" class="close">Close</a>
    </div>
  </div>
  <div class="lightbox" id="history-item-3-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/25-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>The history of the foyer</h3>
      <p>To imagine the Picture House foyer as it would have been originally, take a good long look at the kiosk area then imagine a fireplace standing in its place! The original floor in the foyer would also have been some form of tiling, but this has long since been irreparably damaged.</p>
      <a href="#history-item-3" class="close">Close</a>
    </div>
  </div>
  <div class="lightbox" id="history-item-4-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/26-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>Gas lights</h3>
      <p>One of the really unusual features at the Picture House is our gas lighting. These are not the original fittings but they’re still pretty stunning. Very few buildings in the UK now have gas lighting. The only other example we’ve come across is a pub in Beverley near Hull!</p>
      <a href="#history-item-4" class="close">Close</a>
    </div>
  </div>
  <div class="lightbox" id="history-item-5-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/14-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>The clock</h3>
      <p>The clock you see to the right of the screen has sat proudly in our auditorium since about the 1950/1960’s. Prior to that it lived in the Gaumont cinema. Len Thompson saved the clock, some seats, and the toilet signs when the Gaumont closed. It hasn’t been knocked down though, oh no. You’ll now know the Gaumont as the O2 Academy.</p>
      <a href="#history-item-5" class="close">Close</a>
    </div>
  </div>
  <div class="lightbox" id="history-item-6-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/30-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>Decorative glass</h3>
      <p>The window on the stairs is home to one of our original decorative glass panels. Close inspection reveals it is part stained glass and part hand painted.</p>
      <a href="#history-item-6" class="close">Close</a>
    </div>
  </div>
  <div class="lightbox" id="history-item-7-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/36-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>Original fire hydrant</h3>
      <p>While today we’re fully fitted with contemporary fire-fighting equipment, none of that makes quite the same statement as this beauty. Despite its age, this hose is still functional; though since the water comes up from the mains the force is quite impressive – enough to throw the user to the ground.</p>
      <a href="#history-item-7" class="close">Close</a>
    </div>
  </div>
  <div class="lightbox" id="history-item-8-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/39-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>Our beginnings</h3>
      <p>After plans for a hotel met local opposition, and the brief residence of a social club, plans for a purpose built cinema on the plot of land at 73 Brudenell Road plans were submitted to Leeds City Council on 6th May 1913, and the Hyde Park Picture House opened for business on 2nd November 1914.</p>
      <a href="#history-item-8" class="close">Close</a>
    </div>
  </div>
  <div class="lightbox" id="history-item-9-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/41-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>Lamp post</h3>
      <p>Like the main building the lamppost is Grade II listed. It was created by W. MacFarlane &amp; Co, also known as the Saracen Foundry, renowned at the time as the most important manufacturer of ornamental ironwork in Scotland.</p>
      <a href="#history-item-9" class="close">Close</a>
    </div>
  </div>
  <div class="lightbox" id="history-item-10-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/43-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>Box office</h3>
      <p>As you approach our main doors you can’t miss the original box office which is still in use to this day.</p>
      <a href="#history-item-10" class="close">Close</a>
    </div>
  </div>
  <div class="lightbox" id="history-item-11-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/45-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>Tiles</h3>
      <p>As you stand, imagining that you’re about to buy some tickets for the latest flick, be sure to look under your feet at the beautiful marble and granite mosaic. Considering the many feet it’s seen over the years it’s in great shape, though you can see that time has been kinder to some sections than others. You can see the green sections of the design are almost worn away!</p>
      <a href="#history-item-11" class="close">Close</a>
    </div>
  </div>
  <div class="lightbox" id="history-item-12-overlay">
    <div class="lightbox-image">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" data-src="/assets/images/history/84-BW.jpg" />
    </div>
    <div class="lightbox-text">
      <h3>The first film</h3>
      <p>The first film to be shown at the cinema was the patriotic drama Their Only Son, followed the next week by the famous invasion drama An Englishman's House. Although few new cinemas would be built during the war-years audiences continued to grow.</p>
      <a href="#history-item-12" class="close">Close</a>
    </div>
  </div>

</section>