<section class="section section--intro" id="intro">
  <div class="intro-image">
    {% include cloudinarylazy.html img="/assets/images/41-BW.jpg" class="lazyload" alt="Looking up at lamp post outside of Hyde Park Picture House." width="460" height="345" sizes="(min-width: 900px) 33vw, (min-width: 600px) 25vw, 100vw" quality="95" %}
  </div>
  <div class="intro-text">
    <h2 class="section-title">A bright future ahead.</h2>
    <p>103 years on from our opening night, the Hyde Park Picture House is embarking on an exciting new chapter.</p>
    <p>Thanks to backing from the Heritage Lottery Fund, as well as continued support from Leeds City Council and our valued Friends and partners across the city, our Grade II listed cinema is being renewed. </p>
    <p>The Picture House Project means looking backwards as well as forwards. It’s about celebrating our rich heritage as we ensure a bright future ahead. It’s about protecting and preserving our historic features, while at the same time making the building more sustainable, more comfortable and more accessible - as we strive to be the best place to experience film in Leeds.</p>
    <img class="backers-logos" src="assets/images/logos.svg" alt="The redevelopment of the Hyde Park Picture House is a Heritage Lottery Fund project supported by Leeds City Council">
  </div>

</section>