<section class="section section--intro" id="intro">
  <div class="intro-image">
    <img src="/assets/images/41-BW.jpg" alt="Lampost outside of Hyde Park Picture House" />
  </div>
  <div class="intro-text">
    <h2 class="section-title">Hello.</h2>
    <p>Opening on 2<sup>nd</sup> November 1914, three months into the First World War, the Hyde Park Picture House is one of the only early cinemas still operating in the UK today. Over those hundred years we’ve seen proposals and weddings, been a location for film and TV and provided a formative cinema experience for scores of young audiences.</p>
    <p>Two things have ensured our continued relevance: our beautiful Grade II listed building and our film-loving community across Leeds. We’re not complacent though, and we know that a bright, sustainable future requires ambitious plans.</p>
    <p>That’s why we’re thrilled that Heritage Lottery Fund has agreed to support our regeneration. This invaluable support brings £2.4million of lottery investment to help us protect and restore our building so that it continues to thrive over the next 100 years.</p>
    <img class="backers-logos" src="assets/images/logos.svg#black" alt="The redevelopment of the Hyde Park Picture House is a Heritage Lottery Fund project supported by Leeds City Council">    
  </div>

</section>