<section class="section section--explore" id="explore">

  <div class="container container--explore">
    <h2 class="section-title">Model</h2>
    <div class="explore--inner">
      <div class="explore--video-wrapper">
        <video poster="/assets/images/video-still.jpg" class="explore--video" preload="" loop="" muted="" playsinline="">
          <source type="video/mp4" src="http://res.cloudinary.com/letsdance/video/upload/w_1000,ac_none,q_auto,e_accelerate:-20,so_.1/v1529144407/Whole_Sequence_2_30fps_bfocys.mp4">
          <source type="video/webm" src="http://res.cloudinary.com/letsdance/video/upload/w_1000,ac_none,q_auto,e_accelerate:-20,so_.1/v1529144407/Whole_Sequence_2_30fps_bfocys.webm">
        </video>
        <div class="hotspot--layer hotspot--layer__layer-0">
          <div class="hotspot--layer--title">Exterior</div>
          <div class="hotspot" data-target="explore--sidebar__item-1">1</div>
          <div class="hotspot" data-target="explore--sidebar__item-2">2</div>
          <div class="hotspot" data-target="explore--sidebar__item-3">3</div>
        </div>
        <div class="hotspot--layer hotspot--layer__layer-1">
          <div class="hotspot--layer--title">Auditorium & 1st Floor</div>
          <div class="hotspot" data-target="explore--sidebar__item-4">4</div>
          <div class="hotspot" data-target="explore--sidebar__item-5">5</div>
          <div class="hotspot" data-target="explore--sidebar__item-6">6</div>
          <div class="hotspot" data-target="explore--sidebar__item-7">7</div>

        </div>
        <div class="hotspot--layer hotspot--layer__layer-2">
          <div class="hotspot--layer--title">Foyer</div>
          <div class="hotspot" data-target="explore--sidebar__item-8">8</div>
          <div class="hotspot" data-target="explore--sidebar__item-9">9</div>
          <div class="hotspot" data-target="explore--sidebar__item-10">10</div>
          <div class="hotspot" data-target="explore--sidebar__item-11">11</div>
        </div>
        <div class="hotspot--layer hotspot--layer__layer-3">
          <h3 class="hotspot--layer--title">Basement</h3>
          <div class="hotspot" data-target="explore--sidebar__item-12">12</div>
          <div class="hotspot" data-target="explore--sidebar__item-13">13</div>
        </div>
        <div class="hotspot--layer hotspot--layer__layer-4">
          <div class="hotspot--layer--title">2nd Screen</div>
          <div class="hotspot" data-target="explore--sidebar__item-14">14</div>
        </div>
        <div class="hotspot--layer hotspot--layer__layer-5">
          <div class="hotspot--layer--title">The end</div>
          <div class="explore--sidebar--content" id="explore--sidebar__model-maker">
            <div class="explore--sidebar__model-maker__image-container">
              <img src="/assets/images/model-maker.jpg" class="explore--sidebar__model-maker__image" />
            </div>
            <div class="explore--sidebar__model-maker__text">
              <h4 class="explore--sidebar__model-maker__title">Meet the model&nbsp;maker</h4>
              <p>We spoke with Andrew from <a href="http://pagepark.co.uk" target="_blank">Page\Park Architects</a>, who hand-crafted our beautiful model. Hear about his unique process and how he became an architectural model-maker - one of only a handful in the UK today.</p>
              <button class="explore--sidebar__model-maker__button">play</button>
            </div>
          </div>
        </div>
        <button class="explore--video--button">Start</button>

      </div>
      <div class="explore--sidebar">
        <div class="explore--sidebar--content intro_or_instructions" id="explore--sidebar__intro">
          <h3 class="explore--sidebar--heading">Explore the model</h3>
          <p>Throughout development, <a href="http://pagepark.co.uk" target="_blank">Page\Park Architects</a> have utilised an in-house model maker to bring their plans to life.</p>
          <p>As plans have matured and changed shape, so too has the model, providing an invaluable tool for communicating the vision of the picture house project.</p>
          <p class="highlight"><strong>Explore the model inside and out to discover how we plan to preserve and renew our century-old cinema.</strong></p>
        </div>
        <div class="explore--sidebar--content intro_or_instructions hidden" id="explore--sidebar__instructions">
          <p class="highlight"><strong>Explore the model inside and out to discover how we plan to preserve and renew our century-old cinema.</strong></p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-1">
          <h4 class="explore--sidebar--item-heading">Step-free access</h4>
          <p>A new ramp at the front of the cinema will extend from the pavement to the main entrance, providing step-free access to the building. New seating will run alongside the ramp, providing a communal space for those meeting friends outside.</p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-2">
          <h4 class="explore--sidebar--item-heading">Restored façade</h4>
          <p>The existing façade will not be altered – instead it will be repaired, cleaned and restored to its former glory, with new lighting ensuring it shines brightly both day and night.
        </p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-3">
          <h4 class="explore--sidebar--item-heading">New extension</h4>
          <p>An essential part of the project is a brand new extension alongside the cinema’s north-facing wall, allowing for vast improvements in space, access, and sustainability. The design, which respects, complements and takes inspiration from the original building’s iconic entranceway, is also proudly contemporary. New windows help better connect the Picture House with its local community, encouraging local residents to explore inside.</p>
        </div>

        <div class="explore--sidebar--content" id="explore--sidebar__item-4">
          <h4 class="explore--sidebar--item-heading">Refurbished auditorium</h4>
          <p>While the auditorium won’t undergo any fundamental alterations, key heritage features including the gas lighting, balcony and plasterwork will be repaired and restored. New tech upgrades will improve the cinema’s projection, sound and live-event capabilities, ensuring the auditorium is also a modern, versatile and enjoyable space for audiences.</p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-5">
          <h4 class="explore--sidebar--item-heading">Platform lift</h4>
          <p>Alongside a staircase at the far side of the extension, a wheelchair accessible lift will also be installed, providing access to all three levels.</p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-6">
          <h4 class="explore--sidebar--item-heading">New toilets</h4>
          <p>Two new gender-neutral toilets will sit on the first floor of the extension, accessible via a short flight of stairs and positioned directly next to the lift.</p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-7">
          <h4 class="explore--sidebar--item-heading">Break-out space</h4>
          <p>A multi-functional room will take up most of the first-floor, offering much needed space that will be used for range of purposes. As well as a providing a place that audiences can enjoy before heading into a film, it will also allow the cinema to run more workshops and sessions as part of its growing activity programme, as well as offering a meeting area in the daytime for local groups, charities and schools.</p>
        </div>

        <div class="explore--sidebar--content" id="explore--sidebar__item-8">
          <h4 class="explore--sidebar--item-heading">New auditorium entrance</h4>
          <p>A new, larger entrance to the auditorium will be installed. This will feature two doors, with an acoustic lobby inside, helping to prevent sound bleed from the foyer into the auditorium.</p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-9">
          <h4 class="explore--sidebar--item-heading">Accessible toilet</h4>
          <p>A new wheelchair accessible toilet will be positioned in the foyer, helping wave goodbye to 104 years of inaccessible toilets at the Hyde Park Picture House.</p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-10">
          <h4 class="explore--sidebar--item-heading">Box office & bar</h4>
          <p>The cinema’s box office will expand by moving inside, allowing multiple customers to be served more quickly. This will be combined with a new kiosk/bar, allowing a greater selection of refreshments to be sold than previously possible.</p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-11">
          <h4 class="explore--sidebar--item-heading">Expanded foyer & café</h4>
          <p>The foyer area will grow in two ways. The back wall of the foyer will extend further into the auditorium to house the new box office, this will in-turn create more space in the immediate entranceway. The new extension will then provide significant new foyer space, housing a café/bar area, allowing customers to enjoy a drink before and after the film.</p>
        </div>

        <div class="explore--sidebar--content" id="explore--sidebar__item-12">
          <h4 class="explore--sidebar--item-heading">Break-out space</h4>
          <p>A cosy seating area will be located in the basement, offering additional space for customers to enjoy before seeing a film.</p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-13">
          <h4 class="explore--sidebar--item-heading">New toilets</h4>
          <p>Additional gender-neutral toilets will be housed downstairs too, positioned next to the lift. This will bring the total number of cubicle toilets in the cinema to seven (up from the current number of three).</p>
        </div>
        <div class="explore--sidebar--content" id="explore--sidebar__item-14">
          <h4 class="explore--sidebar--item-heading">Brand-new 2nd screen</h4>
          <p>A brand-new, state-of-the-art, 50-seat auditorium will be built in the cinema’s large basement. Positioned directly under the existing auditorium, and housed in a soundproof box, this second screen will transform the Hyde Park Picture House’s ability to bring even more independent and world cinema to Leeds, improving both the diversity and flexibility of the cinema’s film programme. It will also provide a space for more extracurricular events, from talks and presentations, to more screenings from artists and local filmmakers.</p>
        </div>

      </div>
    </div>
  </div>
</section>