<section class="section section--signup" id="signup">

  <div class="container container--signup">
    <h2 class="section-title">Sign up &amp; follow our progress</h2>
    <p>Lorem ipsum dolor sit amet, ex purto fabellas quo, ad usu errem ullamcorper. Ne vis nominati pertinacia, ut sumo propriae evertitur has, oporteat petentium nam ex. Et veri forensibus usu, eam te quem offendit, sea movet voluptua ei. Ne justo inciderint cum, per id labitur eruditi suscipiantur, mel viris inermis cu. Ex sed iudico noster referrentur.</p>
    <form class="" action="index.html" method="post">
      <input type="email" name="email" value="" placeholder="enter your email address">
      <input type="submit" name="submit" value="Subscribe">
    </form>
  </div>

</section>