<section class="section section--signup" id="signup">
<img class="signup-image" src="/assets/images/24-BW.jpg" alt="Behind the scenes at Hyde Park Picture House">
<div class="signup-image-fallback"></div>

  <div class="container container--signup">
    <h2 class="section-title">Sign up &amp; follow our progress</h2>
    <p>To keep up to date with the latest news and events relating to the project, including upcoming consultation and fundraising opportunities – please join our dedicated mailing list.</p>
    <form class="" action="index.html" method="post">
      <div class="signup-box">
        <input type="email" name="email" value="" placeholder="enter your email address">
        <input type="submit" name="submit" value="Subscribe">
      </div>
      <label><input type="checkbox" name="programme" value="programme" /> Tick here if you’d also like to receive our weekly programme email.</label>

    </form>
  </div>

</section>