<section class="section section--timeline" id="timeline">

  <h2 class="section-title" data-secondaryheading="timeline">Project timeline.</h2>

  <div class="timeline-wrapper">
    <div class="timeline-scroller">
      <div class="timeline-item">
        <h3 class="timeline-date">Dec 2005</h3>
        <h4 class="timeline-title">Early feasibility study</h4>
        <p>The Hyde Park Picture House commissions an earlier feasibility study, exploring the potential of development, in particular, the possibility of transforming the cinema’s basement into a second screen. The results confirm the potential for expansion.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Nov 2014</h3>
        <h4 class="timeline-title">Cinema’s Centenary</h4>
        <p>Leeds Grand Theatre &amp; Opera Ltd (the parent company of the Picture House), together with cinema management, mark the milestone by committing to look into ways to secure the building for the future.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">May 2015</h3>
        <h4 class="timeline-title">Friends pledge support</h4>
        <p>The Friends of Hyde Park Picture House pledge their support and funding, to commission a new feasibility study, which, if successful, would form the basis of a funding application to the Heritage Lottery Fund.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Jul 2015</h3>
        <h4 class="timeline-title">Feasability study</h4>
        <p>DCA Consultants, Adam Richards Architects and Buro Happold Engineers are appointed to work on the new feasibility study, which will lead to significant structural surveying, cost estimates, audience consultation work and RIBA Stage 1 design proposals.</p>
      </div>

      <div class="timeline-item">
        <h3 class="timeline-date">Feb 2017</h3>
        <h4 class="timeline-title">Engineers appointed</h4>
        <p>Buro Happold, who worked on the cinema’s feasibility study, are re-appointed to work through the project’s development phase and beyond. Christine Lowry is assigned as the lead engineer for the project, working out of Buro Happold’s Leeds office.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Mar 2017</h3>
        <h4 class="timeline-title">Architects appointed</h4>
        <p>Glaswegian based practice Page\Park are appointed as architects for the project, based on their impressive track record of working with historic arts venues including Glasgow’s Theatre Royal. Eildh Henderson is assigned as the lead project architect.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Mar 2017</h3>
        <h4 class="timeline-title">Further appointments</h4>
        <p>Further appointments to the design team are confirmed, including business and activity planners DCA Consultants, quantity surveyors Gardiner &amp; Theobald and project management support from Turner &amp; Townsend.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">May 2017</h3>
        <h4 class="timeline-title">Fundraising planning</h4>
        <p>A fundraising group is formed, consisting of staff, volunteers, Friends and partners. Consultant Anna Scrine facilitates a session to help form a fundraising strategy and a plan for raising additional money.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Jul 2017</h3>
        <h4 class="timeline-title">Structural surveys</h4>
        <p>Structural surveys are carried out at the Picture House, including a 3D building survey, topographical survey, CCTV drainage & utilities. These are crucial in allowing engineers and architects to progress with the next stage of design work.</p>
      </div>
      <div class="timeline-item timeline-item-active">
        <h3 class="timeline-date">Sep 2017</h3>
        <h4 class="timeline-title">Friends &amp; board meetings</h4>
        <p>Lead architect Eildh Henderson formally presents to a meeting of the Friends of Hyde Park Picture House, as well as the Board of the Picture House, updating them on the project’s progress, as well as sharing draft design proposals for feedback.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Oct 2017</h3>
        <h4 class="timeline-title">HLF mid-stage review</h4>
        <p>The design team are to formally meet with the Heritage Lottery Fund, to update them on the progress of the project’s development phase. Updates will include prospective building works, conservation plans, as well as business and activity preparations.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Dec 2018</h3>
        <h4 class="timeline-title">Planning approval</h4>
        <p>Following consultation and conversations with the relevant planning and heritage bodies, the project aims to secure planning approval, before formal submission to the Heritage Lottery Fund in the spring for Round 2 approval.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">2018</h3>
        <h4 class="timeline-title">Match funding</h4>
        <p>Additional funding for the scheme secured.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">2018</h3>
        <h4 class="timeline-title">HLF round 2 approval</h4>
        <p>The Project formally submits an application to the Heritage Lottery Fund for Round 2 approval, allowing the works to commence.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">2018</h3>
        <h4 class="timeline-title">Project tendering</h4>
        <p>Full project tendering to begin, relating to capital and refurbishment works.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">2019</h3>
        <h4 class="timeline-title">Works commence</h4>
        <p>Full building works to be carried out, resulting in a period of cinema closure - during which time the cinema will continue to operate across other venues, with a touring film programme.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">2019</h3>
        <h4 class="timeline-title">Re-opening</h4>
        <p>Following the completion of capital and refurbishment works, the cinema will re-open, and continue a programme of heritage related activity for the years to follow.</p>
      </div>
    </div>
  </div>

</section>