<section class="section section--timeline" id="timeline">

  <h2 class="section-title" data-secondaryheading="timeline">Project timeline.</h2>

  <div class="timeline-wrapper">
    <div class="timeline-scroller">
      {% for entry in site.timeline %}
      <div class="timeline-item {% if entry.active_entry %}timeline-item-active{% endif %}">
        <h3 class="timeline-date">{% if entry.year_only %}{{ entry.date | date: '%Y'}}{% else %}{{ entry.date | date: '%b %Y'}}{% endif %}</h3>
        <h4 class="timeline-title">{{ entry.title }}</h4>
        {{ entry.content | markdownify }}
      </div>
      {% endfor %}
    </div>
  </div>

</section>