<section class="section section--timeline" id="timeline">

  <h2 class="section-title">Timeline.</h2>

  <div class="timeline-wrapper">
    <div class="timeline-scroller">
      <div class="timeline-item">
        <h3 class="timeline-date">Jan 16</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Jul 16</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Aug 16</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>

      <div class="timeline-item">
        <h3 class="timeline-date">Jan 17</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">May 17</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur <a href="index.html">adipisicing elit</a>. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
      <div class="timeline-item timeline-item-active">
        <h3 class="timeline-date">Sep 17</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Oct 17</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Dec 17</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Jan 18</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Mar 18</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Jul 18</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
      <div class="timeline-item">
        <h3 class="timeline-date">Sep 18</h3>
        <h4 class="timeline-title">Update title</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus fugit dicta provident aliquam neque velit culpa assumenda? Cum nobis veritatis expedita, dicta laboriosam illo blanditiis iste dolore temporibus quam.</p>
      </div>
    </div>
  </div>

</section>