<section class="section section--updates" id="updates">

  <h2 class="section-title">Video updates.</h2>

  <div class="updates-wrapper">
    <div class="updates-scroller">

      <div class="updates-item lazyload fade-in" data-video="https://www.youtube.com/embed/hOHmqT_uraA">
        {% include cloudinarylazy.html class="updates-image" img="/assets/images/updates/storysofar.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
        <div class="updates-inner">
          <h3 class="updates-date">20.10.17</h3>
          <h4 class="updates-title">The story so far</h4>
        </div>
      </div>

      <div class="updates-item" data-video="https://www.youtube.com/embed/e9Fiazbsk94">
        {% include cloudinarylazy.html class="updates-image" img="/assets/images/updates/friends.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
        <div class="updates-inner">
          <h3 class="updates-date">14.11.17</h3>
          <h4 class="updates-title">Backed by the friends</h4>
        </div>
      </div>

      <div class="updates-item" data-video="https://www.youtube.com/embed/XKdnNauPHVc">
        {% include cloudinarylazy.html class="updates-image" img="/assets/images/updates/engineers.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
        <div class="updates-inner">
          <h3 class="updates-date">01.01.18</h3>
          <h4 class="updates-title">Meet the engineers</h4>
        </div>
      </div>

      <div class="updates-item">
        {% include cloudinarylazy.html class="updates-image" img="/assets/images/updates/architects.jpg" width="600" height="450" sizes="(min-width: 900px) 45vw, 100vw" quality="85" %}
        <div class="updates-inner">
          <h3 class="updates-date">Coming soon</h3>
          <h4 class="updates-title">Meet the architects</h4>
        </div>
      </div>

    </div>
  </div>

</section>