<section class="section section--updates" id="updates">

  <h2 class="section-title" data-secondaryheading="updates">Project updates.</h2>
  <p class="section-subheading">
    Stay up to date with the latest building and conservation work as it happen on site, and follow the journey of The Picture House Project so far.
  </p>
  <div class="updates-wrapper">
    <div class="updates-scroller" style="counter-reset: updates {{ site.updates | size | plus: 1 }}">
      {% assign updates = site.updates | sort: date | reverse %}
      <div class="updates-something">
        <div class="updates-panel updates-panel__first">
          {% for update in updates | limit: 7 %}
            <a href="{{ update.url }}" class="updates-item" {% if (update.video) %}data-video="{{ update.video }}"{% endif %}>
              {% include cloudinarylazy.html class="updates-image" img=update.image modes="c_fill" width="450" height="580" sizes="(min-width: 900px) 30vw, 45vw" quality="85" %}
              <div class="updates-inner">
                <h3 class="updates-date">{% if (update.video == true) %}Coming soon{% else %}{{ update.date | date: "%d.%m.%y" }}{% endif %}</h3>
                <h4 class="updates-title">{{ update.title }}</h4>
              </div>
            </a>
          {% endfor %}
        </div>

        <div class="updates-panel updates-panel__overflow">
          {% for update in updates | offset: 7 %}
            <a href="{{ update.url }}" class="updates-item" {% if (update.video) %}data-video="{{ update.video }}"{% endif %}>
              {% include cloudinarylazy.html class="updates-image" img=update.image modes="c_fill" width="450" height="580" sizes="(min-width: 900px) 30vw, 45vw" quality="85" %}
              <div class="updates-inner">
                <h3 class="updates-date">{% if (update.video == true) %}Coming soon{% else %}{{ update.date | date: "%d.%m.%y" }}{% endif %}</h3>
                <h4 class="updates-title">{{ update.title }}</h4>
              </div>
            </a>
          {% endfor %}
          </div>

          <div class="updates-button-container">
            <button class="button" id="expand-updates-button">View all updates</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
