@font-face {
 font-family: "Caslon";
 src: url("./fonts/ACaslonPro-Regular.woff2") format("woff2"),
        url("./fonts/ACaslonPro-Regular.woff") format("woff");
}

@font-face {
 font-family: "Aku Kamu";
 src: url("./fonts/akukamu.woff2") format("woff2"),
        url("./fonts/akukamu.woff") format("woff");
}
