html
  box-sizing: border-box
  height: 100%

*, *::before, *::after
  box-sizing: inherit

html, body
  margin: 0
  padding: 0
  width: 100%

body
  overflow-x: hidden

// main
//   overflow-y: auto
//   height: 100%
//   perspective: 1px

.section
  display: flex
  position: relative
  justify-content: center
  flex-direction: column
  padding-top: 4vw
  margin: 3vw
  min-height: calc(100vh - 6vw)
  width: calc(100vw - 6vw)
  @media screen and (orientation: portrait)
    margin: 3vh
    min-height: 94vh
    width: calc(100vw - 6vh)
  @media screen and (min-width: $xl-screen)
    margin: 4vw
    min-height: calc(100vh - 8vw)
    width: 92vw

.section-title
  font-size: modular-scale(4)
  margin-bottom: $base-spacing
  position: relative
//   &::before
//     content: attr(data-secondaryheading)
//     font-family: $heading-font-family
//     letter-spacing: $small-heading-letter-spacing
//     color: $yellow
//     position: absolute
//     opacity: .1
//     font-size: modular-scale(7)
//     bottom: -2 * $base-spacing
//     left: -4vw
//     z-index: -1