html
  box-sizing: border-box
  height: 100%

*, *::before, *::after
  box-sizing: inherit

html, body
  margin: 0
  padding: 0
  width: 100%
  background-color: white

body
  overflow-x: hidden


// main
//   overflow-y: auto
//   height: 100%
//   perspective: 1px

.section
  display: flex
  position: relative
  justify-content: center
  flex-direction: column
  margin: 3vmax
  min-height: calc(100vh - 6vmax)
  width: calc(100vw - 6vmax)
  padding-top: 4vmax
  @media screen and (min-width: $xl-screen)
    margin: 4vmax
    min-height: calc(100vh - 8vmax)
    width: calc(100vw - 8vmax)

.section-title
  font-size: modular-scale(4)
  margin-bottom: $base-spacing