figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto;
}


img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}


.fade-in {
	opacity: 0;
  filter: blur(25px);
  transform: scale(1.1);
	transition: opacity $base-duration * 5, filter $base-duration * 5, transform $base-duration * 5;
}

.fade-in.lazyloaded {
	opacity: 1;
  transform: scale(1);
  filter: blur(0px);
  // transition: opacity 0ms, filter 0ms, transform 0ms;
}