figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto;
}


img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}


.fade-in {
	opacity: 0;
  filter: blur(6px);
	transition: opacity $base-duration, filter $base-duration;
}

.fade-in.lazyloaded {
	opacity: 1;
  filter: blur(0px);
}